<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">
            <h1>Pedidos</h1>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-md-8 col-sm-12 text-right">
            <a class="btn btn-success btn-md" routerLink="/admin/orders/new">Nuevo Pedido</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">
            <table class="table text-center">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Nombre Cliente</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Borrar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let o of orders">
                    <th scope="row">{{o.pedidoId}}</th>
                    <td>{{o.fecha | date: 'fullDate' }}</td>
                    <td>{{o.nombre}}</td>
                    <td><button class="btn btn-warning fa fa-edit" routerLink="/admin/orders/{{o.pedidoId}}"></button></td>
                    <td><button class="btn btn-danger fa fa-trash" (click)="deleteOrder(o.pedidoId)"></button></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>